<html>

    <head>
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.13.0/css/semantic.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    </head>
    <script>
        $(function() {
            $.get('/api/fans?limit=500', function(data) {
                var tbody = $('tbody');
                var last = -1;
                data = data.result;
                data.forEach(function(e){
                    var diff = '-';
                    if (last != -1) {
                        diff = last - e.likes;
                    }
                    last = e.likes;

                    var tr = $('<tr>');
                    tr.append($('<td>').text(e.createdAt));
                    tr.append($('<td>').text(e.likes));
                    tr.append($('<td>').text(diff));
                    tbody.append(tr);
                });
            }); 
        });
    </script>
    <body>
        <div class="container">
            <table class="ui table segment">
                <thead>
                    <tr>
                        <th>Date Time</th>
                        <th>Likes</th>
                        <th>Diff</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="3">
                            <div class="ui blue labeled icon button"><i class="forward icon"></i> Next</div>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </body>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-49959792-1', 'fanschecker.herokuapp.com');
        ga('send', 'pageview');

    </script>
</html>
